{% extends 'base.html.twig' %}

{% block title %}PurchaseList index{% endblock %}

{% block body %}
    <h1>PurchaseList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase_list in purchase_lists %}
            <tr>
                <td>{{ purchase_list.id }}</td>
                <td>
                    <a href="{{ path('purchase_list_show', {'id': purchase_list.id}) }}">show</a>
                    <a href="{{ path('purchase_list_edit', {'id': purchase_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('purchase_list_new') }}">Create new</a>
{% endblock %}
