{% extends 'base.html.twig' %}

{% block title %}New PurchaseList{% endblock %}

{% block body %}
    <h1>Create new PurchaseList</h1>

    {{ include('purchase_list/_form.html.twig') }}

    <a href="{{ path('purchase_list_index') }}">back to list</a>
{% endblock %}
