{% extends 'base.html.twig' %}

{% block title %}PurchaseList{% endblock %}

{% block body %}
    <h1>PurchaseList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchase_list.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('purchase_list_index') }}">back to list</a>

    <a href="{{ path('purchase_list_edit', {'id': purchase_list.id}) }}">edit</a>

    {{ include('purchase_list/_delete_form.html.twig') }}
{% endblock %}
