{% extends 'base.html.twig' %}

{% block title %}Edit ProductList{% endblock %}

{% block body %}
    <h1>Edit ProductList</h1>

    {{ include('product_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_list_index') }}">back to list</a>

    {{ include('product_list/_delete_form.html.twig') }}
{% endblock %}
