{% extends 'base.html.twig' %}

{% block title %}ProductList index{% endblock %}

{% block body %}
    <h1>ProductList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_list in product_lists %}
            <tr>
                <td>{{ product_list.id }}</td>
                <td>
                    <a href="{{ path('product_list_show', {'id': product_list.id}) }}">show</a>
                    <a href="{{ path('product_list_edit', {'id': product_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_list_new') }}">Create new</a>
{% endblock %}
